################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/FunWithUnitTesting/FileContentIndex/3c3c15af-71ca-4881-a64e-5ab16e840dd0.vsidx
/.vs/FunWithUnitTesting/FileContentIndex/58fbb3ca-5ee8-4a79-971c-c785c8b078b1.vsidx
/.vs/FunWithUnitTesting/FileContentIndex
