################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/FunWithUnitTesting/FileContentIndex/3c3c15af-71ca-4881-a64e-5ab16e840dd0.vsidx
